
@{
    ViewBag.Title = "Un-authorized Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger">You are not authorized to view this page.</h2>

<script type="text/javascript">
    $(document).ready(function () {
        Revive.Redux.Common.SetParentMenuSelected('Home');
    });
</script>