
@{
    Layout = null;
}
@{
    ViewBag.Title = "SSO testing";
}

<h1>SSO testing</h1>
<p>
    @Html.ActionLink("Click here to Login", "SingleSignOnIndex", null, new { title = "Initiates SAML single sign-on to the identity provider." })
</p>
