<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <ServiceProvider Name="http://localhost:52722"
                   Description="MVC Example Service Provider"
                   AssertionConsumerServiceUrl="http://localhost:52722/SAML/AssertionConsumerService"
                   LocalCertificateFile="Certificates\sp.pfx"
                   LocalCertificatePassword="password"/>
  <PartnerIdentityProviders>
     <!--MVC example--> 
    <PartnerIdentityProvider Name="http://localhost:50320"
                             Description="MVC Example Identity Provider"
                             SignAuthnRequest="true"
                             WantSAMLResponseSigned="true"
                             WantAssertionSigned="false"
                             WantAssertionEncrypted="false"
                             SingleSignOnServiceUrl="http://localhost:50320/SAML/SSOService"
                             SingleLogoutServiceUrl="http://localhost:50320/SAML/SLOService"
                             PartnerCertificateFile="Certificates\idp.cer"/>

    
   
  </PartnerIdentityProviders>

<!--<PartnerIdentityProviders>
    <PartnerIdentityProvider Name="https://federationuat.verizon.com" 
                              PartnerCertificateFile="TODO: value required"
                              NameIDFormat="urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress" 
                              SingleSignOnServiceUrl="https://federationuat.verizon.com/onesso/iwa2/vzidp.jsp" />
  </PartnerIdentityProviders>-->


</SAMLConfiguration>
